# 核心通用配置
[user]
  name = LuoDiKaiHua
  email = 823691221@qq.com
[core]
  autocrlf = input
  editor = subl --wait
  eol = lf
  ignorecase = false
  longpaths = true
  quotepath = false
  safecrlf = true
  symlinks = true
  excludesfile = ~/.gitignore_global
[push]
  autoSetupRemote
[fetch]
  recurseSubmodules = true
[safe]
  directory = *
[credential]
  helper = cache --timeout=86400

[includeIf "hasconfig:remote.*.url:git@gitlab.futunn.com:**/**"]
  path = ~/.gitconfig-gitlab-futu

# 仓库通用配置
[init]
  defaultBranch = main
[http]
  postBuffer = 1048576000

# 别名配置
[alias]
  open-in-terminal = "!f() { \
    case $(uname) in \
    Darwin) open -a Terminal \"${1:-.}\" ;; \
    Linux) gnome-terminal \"${1:-.}\" ;; \
    MINGW*|MSYS*) wt -d \"${1:-.}\" ;; \
    *) echo 'Unsupported OS' ;; \
    esac \
    }; f"
  ignore = "!f() { curl -sL https://www.toptal.com/developers/gitignore/api/$@; }; f"

# 外部 Merge 工具配置
[merge]
  tool = bc
[mergetool]
  prompt = false
  keepBackup = false
  trustExitCode = true
[mergetool "bc"]
  cmd = bcomp "$LOCAL" "$REMOTE" "$BASE" "$MERGED"

# 外部 Diff 工具配置
[diff]
  tool = bc
[difftool]
  prompt = false
  trustExitCode = true
[difftool "bc"]
  cmd = bcomp "$LOCAL" "$REMOTE"
